## 5.5: Afsluitende Opdrachten

<p>Klik <a href="https://raw.githubusercontent.com/rweeda/PythonIA/main/sql/img/DaniloIA_ERD.png" target="_blank">hier</a> voor een overzicht van alle tabellen.</p>


### Afsluitende Opdracht 5.5.1 Omschrijving van de bodem bij een bestelling

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Laat zien welke bodembeschrijving hoort bij elke bestelde pizza, zoals in het ovezicht hiernaast. De informatie komt uit tabellen <i>besteldepizza</i> en <i>bodem</i>.


</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>omschrijving</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>American style</td></tr>
    <tr><td>2</td><td>American style</td></tr>
    <tr><td>3</td><td>American style</td></tr>
    <tr><td>4</td><td>American style</td></tr>
    <tr><td>…</td><td>…</td></tr>
    <tr><td>5832</td><td>Italian style</td></tr>
    <tr><td>5833</td><td>American style</td></tr>
  </tbody>
</table>



</td></tr></table>


### Afsluitende Opdracht 5.5.2 Een overzicht van de bestelde pizza en het formaat

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Toon een overzicht van de bestelde pizza met <b>besteldepizzacode</b>, <b>naam</b> en het <b>formaat</b> zoals hiernaast.

</td><td width="35%">

<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>besteldepizzacode</th>
      <th>pizzanaam</th>
      <th>formaat</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Marinara</td><td>extra groot (40 cm)</td></tr>
    <tr><td>2</td><td>Hawai</td><td>groot (35 cm)</td></tr>
    <tr><td>3</td><td>Fantasia</td><td>klein (25 cm)</td></tr>
    <tr><td>4</td><td>Salmone</td><td>klein (25 cm)</td></tr>
    <tr><td>…</td><td>…</td><td>…</td></tr>
    <tr><td>5833</td><td>Prosciutto</td><td>medium (30 cm)</td></tr>
  </tbody>
</table>


</td></tr></table>


### Afsluitende Opdracht 5.5.3 Wie heeft welke pizza besteld?

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

<p>Maak een overzicht zicht van de klanten met daarbij de pizza’s die zij besteld hebben. Toon het overzicht zoals hiernaast.</p>


<p>Tip: Hiervoor moet je vier tabellen koppelen: <i>bestelling</i>, <i>klant</i>, <i>besteldePizza</i> en <i>pizza</i>.

</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>klant</th>
      <th>pizza</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Katja Pas</td><td>Marinara</td></tr>
    <tr><td>Katja Pas</td><td>Hawaii</td></tr>
    <tr><td>Katja Pas</td><td>Fantasia</td></tr>
    <tr><td>Bram Kuipers</td><td>Salmone</td></tr>
    <tr><td>Bram Kuipers</td><td>Fantasia</td></tr>
    <tr><td>Bram Kuipers</td><td>Inferno</td></tr>
    <tr><td>Bram Kuipers</td><td>Vegetariana</td></tr>
    <tr><td>Bram Kuipers</td><td>Salame</td></tr>
    <tr><td>Frank Goudsmit</td><td>Tropicale</td></tr>
    <tr><td>Frank Goudsmit</td><td>Vegetariana</td></tr>
    <tr><td>Frank Goudsmit</td><td>Shoarma</td></tr>
    <tr><td>Frank Goudsmit</td><td>Capricciosa</td></tr>
    <tr><td>Frank Goudsmit</td><td>Vegetariana</td></tr>
    <tr><td>...</td><td>...</td></tr>
  </tbody>
</table>



</td></tr></table>


### Afsluitende Opdracht 5.5.4 Bestellingen van klanten uit Enschede of Hengelo
<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">

Toon de <b>bestelcode</b> en <b>klantnummer</b> van de eerste 3 bestellingen waarvan de klant uit <b>Enschede of Hengelo</b> komt, zoals in het overzicht hiernaast. De gegevens komen uit tabellen <i>klant</i> en <i>bestelling</i>.

</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>bestelcode</th>
      <th>klantnummer</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>224</td></tr>
    <tr><td>4</td><td>323</td></tr>
    <tr><td>5</td><td>279</td></tr>
  </tbody>
</table>


</td></tr></table>



### Afsluitende Opdracht 5.5.5 Bezorgerinformatie



<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="45%">
Toon uit tabel `bestelling` voor de eerste vijf gegevens, de naam van de bezorger en bijbehorende de klantgegevens (klantnaam, adres, postcode, en woonplaats). Toon het overzicht zoals hiernaast.
</td><td width="55%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>bezorgernaam</th>
      <th>klantnaam</th>
      <th>adres</th>
      <th>postcode</th>
      <th>woonplaats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Han Fröling</td>
      <td>Katja Pas</td>
      <td>Koperwiek 73</td>
      <td>3766AM</td>
      <td>Hengelo</td>
    </tr>
    <tr>
      <td>Afhalen</td>
      <td>Bram Kuipers</td>
      <td>Heyendaalseweg 300</td>
      <td>6525EC</td>
      <td>Nijmegen</td>
    </tr>
    <tr>
      <td>Ageeth Mooy</td>
      <td>Frank Goudsmit</td>
      <td>Pelikaanweg 17</td>
      <td>3762VA</td>
      <td>Hengelo</td>
    </tr>
    <tr>
      <td>Hans Boonstra</td>
      <td>Maarten Doornbos</td>
      <td>Mozartlaan 35</td>
      <td>3741HT</td>
      <td>Enschede</td>
    </tr>
    <tr>
      <td>Marleen Hoekstra</td>
      <td>Margaretha Verwoert - Gro</td>
      <td>Goudenregenlaan 30</td>
      <td>3741CB</td>
      <td>Enschede</td>
    </tr>
  </tbody>
</table>


</td></tr></table>


### Afsluitende Opdracht 5.5.6 Voor de kok

<table width="100%"><tr><td style="text-align:left; vertical-align:top; font-size:1.25rem;" width="65%">
Maak voor de kok een overzicht van welke pizza's besteld zijn zoals hieronder, met daarin pizzanaam, formaat, bodem. Laat alleen de eerste 10 zien.

</td><td width="35%">
<table border="1" cellpadding="4" cellspacing="0">
  <thead>
    <tr>
      <th>pizzanaam</th>
      <th>formaat</th>
      <th>bodem</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>Marinara</td><td>extra groot (40 cm)</td><td>American style</td></tr>
    <tr><td>Hawai</td><td>groot (35 cm)</td><td>American style</td></tr>
    <tr><td>Fantasia</td><td>klein (25 cm)</td><td>American style</td></tr>
    <tr><td>Salmone</td><td>klein (25 cm)</td><td>American style</td></tr>
    <tr><td>Fantasia</td><td>medium (30 cm)</td><td>American style</td></tr>
    <tr><td>Inferno</td><td>groot (35 cm)</td><td>American style</td></tr>
    <tr><td>Vegetariana</td><td>extra groot (40 cm)</td><td>Italian style</td></tr>
    <tr><td>Salame</td><td>klein (25 cm)</td><td>American style</td></tr>
    <tr><td>Borromea</td><td>klein (25 cm)</td><td>American style</td></tr>
    <tr><td>Calimero</td><td>groot (35 cm)</td><td>American style</td></tr>
  </tbody>
</table>

</td></tr></table>